<%= search_form_for @search, html: {class: "initiative-search filters"} do |f| %>
  <div class="row">
    <div class="ten column">
      <%= f.text_field :title_cont, class: "large" %>
    </div>
    <div class="two column">
      <%= f.submit t("search"), class: "large button" %>
    </div>
  </div>
<% end %>