h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 23px; }
h4 { font-size: 17px; }
h5 { font-size: 14px; }

a { color: $mainColor; text-decoration: none; line-height: inherit; }
a:hover { color: $secondaryColor; text-decoration: underline;}
a:focus { color: $mainColor; outline: none; }

.active {
  border: 1px solid darken($lightBackColor, 10%);
  @include box-shadow(inset 1px 1px 3px $borderColor);
  @include background(linear-gradient(darken($lightBackColor, 10%), lighten($lightBackColor, 12%)));
  @include border-radius($radius);
}

.button {
  border-color: darken($darkPink, 30%);
  @include background(linear-gradient($darkPink, darken($darkPink, 30%)));
  @include border-radius($radius);

  &:hover {
    @include background(linear-gradient(lighten($darkPink, 10%), darken($darkPink, 20%)));
  }
}

.button-third {
  border-color: darken($darkBackColor, 30%);
  @include background(linear-gradient($darkBackColor, darken($darkBackColor, 30%)));
  @include border-radius($radius);

  &:hover {
    @include background(linear-gradient(lighten($darkBackColor, 10%), darken($darkBackColor, 20%)));
  }
}

.sort.button {
  color: $mainColor;
  border-color: darken($lightBackColor, 10%);
  @include background(linear-gradient(lighten($lightBackColor, 15%), lighten($lightBackColor, 5%)));
  @include border-radius($radius);
  @include box-shadow($borderColor 1px 1px 3px);

  &:hover {
    @include background(linear-gradient(lighten($lightBackColor, 10%), $lightBackColor));
  }

  &.active {
    @include box-shadow(inset 1px 1px 3px $borderColor);
    @include background(linear-gradient(darken($lightBackColor, 2%), lighten($lightBackColor, 3%)));
  }
}

$secondaryButtonColor: #C65273;
$btnSmallBase: 6px;

.button-secondary {
  background: $secondaryButtonColor;
  border: 1px solid darken(($secondaryButtonColor), 15%);
  @include box-shadow(0 1px 0 $shinyEdge inset);

  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0;
  padding: $btnSmallBase ($btnSmallBase * 2) ($btnSmallBase + 1);
  position: relative;
  text-align: center;
  text-decoration: none;
  @include single-transition(background-color, .15s, ease-in-out);

  &:hover, &:focus {
    color: $white;
    background-color: darken(($secondaryButtonColor), 10%);
    text-decoration: none;
  }
  &:active  {
    @include box-shadow(0 1px 0 $darkEdge inset);
  }
}



.label {
  background: $pink;
  margin-right: 3px;
}

.label.secondary {
  background: $lightBackColor;
  color: $txtColor;
  margin-right: 6px;
}

.label-small {
  font-size: 11px;
  padding: 2px 4px;
}

.label-large {
  font-size: 16px;
  padding: 4px 8px;
}

.center {
  text-align: center;
}

.inline {
  display: inline-block;
}
.very-inline {
  display: inline;
}

.no-left-padding {
  padding-left: 0;
}

.margin-top {
  margin-top: 15px;
}

.align-right {
  text-align: right;
}

.section-header {
  background: $darkBackColor;
  color: white;
  padding: $size;
  @include border-radius($radius);
}

.subheader {
  color: darken(#6F6F6F, 20%);
}

div.alert-box {
  background-color: darken($darkPink, 10%);
}

.twitter-timeline {
  margin-bottom: 14px;
}