a { color: $mainColor; text-decoration: none; line-height: inherit; }
a:hover { color: $secondaryColor; text-decoration: underline;}
a:focus { color: $mainColor; outline: none; }

.button {
  border-color: darken($darkPink, 30%);
  @include background(linear-gradient($darkPink, darken($darkPink, 30%)));
  @include border-radius($radius);

  &:hover {
    @include background(linear-gradient(lighten($darkPink, 10%), darken($darkPink, 20%)));
  }
}

.sort.button {
  color: $mainColor;
  border-color: darken($lightBackColor, 10%);
  @include background(linear-gradient(lighten($lightBackColor, 15%), lighten($lightBackColor, 5%)));
  @include border-radius($radius);
  @include box-shadow($borderColor 1px 1px 3px);

  &:hover {
    @include background(linear-gradient(lighten($lightBackColor, 10%), $lightBackColor));
  }

  &.active {
    @include box-shadow(inset 1px 1px 3px $borderColor);
    @include background(linear-gradient(darken($lightBackColor, 2%), lighten($lightBackColor, 3%)));
  }
}

.label {
  background: $pink;
  margin-right: 3px;
}

.label.secondary {
  background: $lightBackColor;
  color: $txtColor;
  margin-right: 6px;
}

.label-large {
  font-size: 16px;
  padding: 4px 8px;
}

.center {
  text-align: center;
}

.block {
  display: inline-block;
}