$startGradientColor: #CCCAC4;
$lightBackColor: #ECECE9;
$darkBackColor: #5F554A;
$borderColor: #CCC;
$shadowInDark: #26221D;

$pink: #B63D46;
$darkPink: #C95475;
$bannerColor: #696055;

$forColor: #81A05A;
$againstColor: #CC5477;
$neutralColor: #CACAC2;
$disabledColor: #EEE;