// Place all the styles related to the initiatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.initiative {
  margin-top: $size*2;

  &:first-child { margin-top: 0 }
  &:nth-last-child(2) { border-bottom: none; margin-bottom: $size*2; }

  .title { margin-top: 7px;}

  .right { text-align: right; }
  .ten { padding: 0; }

  .proposer-small {
    padding-left: 30px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
  }

  .secondary { line-height: 26px; }
}

.bottom.row {
  margin: 0
}

.initiative-search {
  input[type=text] {
    margin-bottom: 0;
  }

  .button.large {
    width: 100%
  }
}

.separator {
  border-bottom: none;
  @include box-shadow($borderColor 0px 0px 6px);

  &:last-child { display: none}
}

.initiatives {
  .label-large { margin: 15px 6px 0 0; }
}

.mc-small     { @include parties-small-sprite(mc); }
.na-small     { @include parties-small-sprite(na); }
.pan-small    { @include parties-small-sprite(pan); }
.prd-small    { @include parties-small-sprite(prd); }
.pri-small    { @include parties-small-sprite(pri); }
.pt-small     { @include parties-small-sprite(pt); }
.pvem-small   { @include parties-small-sprite(pvem); }