// Place all the styles related to the initiatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.initiative {
  margin-top: $size*2;

  &:first-child { margin-top: 0 }
  &:nth-last-child(2) { border-bottom: none; margin-bottom: $size*2; }

  .title { margin-top: 7px;}

  .right { text-align: right; }
  .ten { padding: 0; }

  .secondary { line-height: 26px; }

  .small-title { margin: 6px 0 10px }
}

.bottom.row {
  margin: 0
}

.initiative-search {
  input[type=text] {
    margin-bottom: 0;
  }

  .button.large {
    width: 100%
  }
}

.separator {
  border-bottom: none;
  @include box-shadow($borderColor 0px 0px 6px);

  &:last-child { display: none }
}

.separator-small {
  margin: 16px 0 16px;
}

.initiatives {
  .label-large { margin: 15px 6px 0 0; }
  .subjects-sidebar {margin-top: 0;}
}

.subject {
  padding: $size;
}

.mc-small     { @include parties-small-sprite(mc); }
.na-small     { @include parties-small-sprite(na); }
.pan-small    { @include parties-small-sprite(pan); }
.prd-small    { @include parties-small-sprite(prd); }
.pri-small    { @include parties-small-sprite(pri); }
.pt-small     { @include parties-small-sprite(pt); }
.pvem-small   { @include parties-small-sprite(pvem); }

.vote-stats {
  padding: 9px;
  background: darken($lightBackColor, 8%);
  border: 1px solid $borderColor;
  margin-bottom: 18px;
  @include border-radius(5px);
  @include box-shadow($borderColor 0px 0px 6px);

  p {
    margin: 0;
    @include text-shadow(#FFFFFF 0px 1px 0px);
  }

  .notes {
    font-size: 12px;
  }
}

.button-for {
  padding: 6px 28px 7px;
  background: $forColor;
  border: 1px solid darken(($forColor), 15%);

  &:hover, &:focus { background-color: darken(($forColor), 10%); }
}

.button-against {
  padding: 6px 28px 7px;
}

.value_for {
  color: $forColor;
}

.value_against {
  color: $againstColor;
}

.user-support {
  text-align: center;
}

.supported {
  font-weight: bold;
  color: darken($forColor, 15%);
}

.not-supported {
  font-weight: bold;
  color: darken($againstColor, 15%);
}