.member_search {
  background: $lightBackColor;
  padding: $size;
  @include border-radius($radius);
}

.members {

  table a {
    text-decoration: underline;
  }

  h2.member-name {
    font-size: 32px;
    padding-left: 70px;
    height: 57px;
    &.mc     { @include parties-sprite(mc_color); }
    &.na     { @include parties-sprite(na_color); }
    &.pan    { @include parties-sprite(pan_color); }
    &.prd    { @include parties-sprite(prd_color); }
    &.pri    { @include parties-sprite(pri_color); }
    &.pt     { @include parties-sprite(pt_color); }
    &.pvem   { @include parties-sprite(pvem_color); }
  }

  h4 {
    padding-left: 70px;
    margin-top: $size*-3
  }
}

.avatar {
  text-align: center;

  img {
    @include border-radius($radius);
    @include box-shadow(darken($lightBackColor, 30%) 0px 1px 9px);
  }
}