.mc     { @include parties-sprite(mc_color); }
.na     { @include parties-sprite(na_color); }
.pan    { @include parties-sprite(pan_color); }
.prd    { @include parties-sprite(prd_color); }
.pri    { @include parties-sprite(pri_color); }
.pt     { @include parties-sprite(pt_color); }
.pvem   { @include parties-sprite(pvem_color); }

.members {

  table a {
    text-decoration: underline;
  }

  h2.member-name {
    font-size: 32px;
    padding-left: 70px;
    height: 57px;
  }

  .subtitle {
    padding-left: 70px;
    margin-top: $size*-3
  }
}

.avatar {
  text-align: center;

  img {
    @include border-radius($radius);
    @include box-shadow(darken($lightBackColor, 30%) 0px 1px 9px);
  }
}

.proposer {
  font-size: 24px;
  padding-left: 70px;
  height: 57px;
  line-height: 28px;
  margin: $size 0;
}

.proposer.no-logo, .proposer-small.no-logo {
  padding-left: 0px;
}

.proposer-small {
  padding-left: 30px;
  height: 26px;
  line-height: 26px;
}

span.proposer-small {
  display: inline-block;
}

.voted-initiatives {
  .all-votes {
    float: right;
    margin-top: 14px;
  }
}

.voted-initiative {
  background: $lightBackColor;
  overflow: hidden;
  margin-bottom: 2px;

  .align-right {
    padding-top: 14px;
  }
}

.vote-label {
  padding: 6px 9px;
  color: $white;
  @include box-shadow(1px 1px 1px $darkEdge inset);
}

.vote-label-for {
  background: $forColor;
  border: 1px solid darken(($forColor), 15%);
}

.vote-label-against {
  background: $againstColor;
  border: 1px solid darken(($againstColor), 15%);
}

.vote-label-neutral, .vote-label-absent, .vote-label-quorum {
  background: $neutralColor;
  border: 1px solid darken(($neutralColor), 15%);
}