.pagination {
  background: none;
  color: white;
  margin-bottom: 18px;

  a {
    color: $pink;
    display: inline-block;
    padding: 3px 6px;
    font-size: ms(1);
    border: 1px solid lighten($pink, 30%);

    &:hover {
      background: lighten($pink, 10%);
      color: white;
    }
  }

  .current {
    display: inline-block;
    padding: 6px;
    background: $pink;
  }
}
