header {
  background: white;
  padding: 0 0 9px;

  .seven { padding-right: 0}
  .five { padding-left: 0}

  nav {
    background: $lightBackColor;
    padding: 9px;
    margin-top: 12px;
    @include border-radius(9px);

    a {
      display: inline-block;
      padding: 6px 9px;
      font-weight: bold;
      font-size: ms(1);
      border-right: 1px dotted $borderColor;
    }
  }
}

.session-bar {
  background: lighten($darkBackColor, 60%);
  padding: 4px 9px 9px;
  border: 1px solid lighten($darkBackColor, 50%);
  @include border-bottom-radius(4px);

  a, span { display: inline-block; }
}
