@import "layout/header";
@import "layout/footer";

@import "parties/*.png";
@include all-parties-sprites;

#main {
  background: $lightBackColor;
  min-height: 500px;
  padding: 18px 0;
  @include background(linear-gradient($startGradientColor, $lightBackColor 200px, $lightBackColor));
}

.content {
  background: white;
  @include border-radius(5px);
  @include box-shadow(darken($lightBackColor, 30%) 0px 1px 9px);
}

.section-header {
  background: $darkBackColor;
  color: white;
  font-size: ms(2);
  padding: $size;
  text-transform: uppercase;

  @include border-radius($radius);
}

.sidebar {
  background: $lightBackColor;
  @include border-radius($radius);
  margin: 9px 9px 9px -9px;
  padding: $size;
}


