<header class="row">
  <div class="five columns">
    <%= image_tag "logo.png" %>
  </div>

  <div class="seven columns">
    <nav>
      <%= link_to "Inicio", root_path %>
      <%= link_to "Diputados", members_path %>
      <%= link_to "Iniciativas", initiatives_path %>
    </nav>
  </div>

</header>
