<p>Hola <%= @resource.name %>!</p>

<p>Alguien ha solicitado cambiar tu contrase単a, lo puedes hacer dando click en la liga abajo.</p>

<p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no solicitaste el cambio, por favor ignora este correo</p>
<p>Tu contrase単a no va a cambiar hasta que hayas accesado la liga y hayas ingresado tu nueva contrase単a.</p>